{% if page.comments != false %}
  <section class="comments">
    * Email [china.rocky.coder@gmail.com](china.rocky.coder@gmail.com)  
	* Home [http://rockycoder.cn](http://rockycoder.cn)  
	* GitHub [https://github.com/RockyQu](https://github.com/RockyQu)  
    {% include disqus.html %}
  </section>
{% endif %}

<div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
  id: 'location.href', // 可选。默认为 location.href
  owner: 'RockyQu',
  repo: 'RockyQu.github.io',
  oauth: {
    client_id: '04ac49f449da4aeb88be',
    client_secret: '0534d4a2359d843b61ff7bcb4c7728c222044881',
  },
})
gitment.render('container')
</script>