<!-- {% if page.comments != false %}
  <section class="comments">
    
    {% include disqus.html %}
  </section>
{% endif %} -->

<!-- <div id="container"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        id: '{{site.time}}' // new Date().getTime(),
        owner: 'RockyQu',
        repo: 'RockyQu.github.io',
        oauth: {
            client_id: '04ac49f449da4aeb88be',
            client_secret: '0534d4a2359d843b61ff7bcb4c7728c222044881',
        },
    })
    gitment.render('gitment_container')
</script> -->