---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  {% include comments.html %}

	<div id="gitment_container"></div>
	    <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
		<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
	    <script>
	    var gitment = new Gitment({
	        id: '<%= page.date %>',
	        owner: 'site.owner',
	        repo: 'site.repo',
	        oauth: {
	            client_id: 'site.client_id',
	            client_secret: 'site.client_secret',
	        },
	    })
	    gitment.render('gitment_container')
	</script>

  {% include related_posts.html %}
</div>
